%h4 Edit blog post

= simple_form_for([:backend, @blog]) do |f|
  = f.input :title
  = f.input :content, :input_html => { :rows => 20 }

  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', backend_blogs_path, class: 'btn'
