.container.blog
  .row
    .col-md-10.col-md-offset-1.title
      %h1= @blog.title
      %p.date= @blog.created_at.strftime('%d-%m-%Y')

  .row
    .col-md-6.col-md-offset-1.details
      %div= raw @blog.content

    .col-md-4.block
      %h4 News @devnologynl
      - if @recent_tweets
        - @recent_tweets.each do |tweet|
          .update
            %p= tweet.text
            %p.date= tweet.date.strftime('%d-%m-%Y at %H:%M')
      - else
        %p Twitter feed is currently not available
