%h4 Edit event

= simple_form_for([:backend, @event]) do |f|

  %ul.nav.nav-tabs#event-tabs
    = tab_item('details', 'Event details', false, true)
    = tab_item('location', 'Location', @event.location.errors.any?)

  .tab-content
    #details.tab-pane.fade.in.active
      = f.input :title
      = f.input :start_time, as: :bootstrap_datetimepicker
      = f.input :end_time, as: :bootstrap_datetimepicker
      = f.input :registration_opens, as: :bootstrap_datetimepicker
      = f.input :number_of_seats
      = f.input :description, :input_html => { :rows => 20 }
    #location.tab-pane.fade
      = f.simple_fields_for :location do |location|
        = location.input :name
        = location.input :address
        = location.input :city
        = location.input :website
        = location.input :directions

    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', backend_events_path, class: 'btn'
