%h4 Add a new event

= simple_form_for([:backend, @event]) do |f|
  = f.input :title
  = f.input :start_time, as: :string, input_html: { class: 'form_datetime' }
  = f.input :end_time, as: :string, input_html: { class: 'form_datetime' }
  = f.input :description

  = f.submit 'Add event', class: 'btn btn-primary'
  = link_to 'Annuleren', backend_events_path, class: 'btn'
