%h4 Add a new event

= simple_form_for([:backend, @event]) do |f|
  = f.input :title
  = f.input :start_time, as: :bootstrap_datetimepicker
  = f.input :end_time, as: :bootstrap_datetimepicker
  = f.input :registration_opens, as: :bootstrap_datetimepicker
  = f.input :number_of_seats
  = f.input :description, as: :bootsy, input_html: { class: 'form-control' }

  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', backend_events_path, class: 'btn'
