%h2= @event.title

= simple_form_for(@registration, url: register_event_path) do |f|
  = f.input :name
  = f.input :email
  = f.submit 'Register', class: 'btn btn-default'

- @event.confirmed_registrations.each do |registration|
  %p= registration.name
