%h2= @event.title

= simple_form_for([@event, @new_registration]) do |f|
  = f.input :name
  = f.input :email
  = f.submit 'Register', class: 'btn btn-default'

- @confirmed_registrations.each do |registration|
  %p= registration.name
