.container.event
  .row
    .col-md-10.col-md-offset-1.title
      %h1= @event.title
      %p.date= event_date(@event)

  .row
    .col-md-6.col-md-offset-1.details
      %div= raw @event.description

    .col-md-4.block
      .register
        %h4 Register
        - if !@event.open_for_registration?
          This is event is not open for registration
        - elsif @event.full?
          %p Unfortunately this event is full
        - else
          = simple_form_for(@registration, url: register_event_path) do |f|
            = f.input :name
            = f.input :email
            = f.submit 'Register', class: 'btn btn-default'

      - if @event.confirmed_registrations.any?
        .unregister
          %h4 Unregister
          = simple_form_for(@registration, url: unregister_event_path) do |f|
            = f.input :email
            = f.submit 'Unregister', class: 'btn btn-default'

        .registrations
          %h4 Registrations
          - @event.confirmed_registrations.each do |registration|
            %p= registration.name
