.banner
  - if @next_event
    %h2 Next event
    %h1= @next_event.title
    %h3= @next_event.start_time.strftime('%d-%m-%Y')

.updates
  .container
    .row
      .col-md-4
        %h2 News

      .col-md-3.col-md-offset-1
        %h2 Upcoming events

        - @upcoming_events.each do |event|
          .event
            =link_to event.title, event_path(event)
            %p= event.start_time.strftime('%d-%m-%Y')

      .col-md-3.col-md-offset-1
        %h2 Recent podcasts

.sponsors
  .container
    .row
      .col-md-2.col-md-offset-2
        = image_tag "qwan.png"
      .col-md-2.col-md-offset-1
        = image_tag "finalist.png"
      .col-md-2.col-md-offset-1
        = image_tag "macaw.png"
    .row
      .col-md-6.col-md-offset-3
        %h3 Devnology is a non-profit organisation and thus dependant on sponsors. We are very grateful to our sponsors. Thanks to our sponsors all Devnology events are free!
