.banner
  - if @next_event
    %h2 Next event
    %h1= @next_event.title
    %h3= @next_event.start_time.strftime('%d-%m-%Y')

.updates
  .container
    .row
      .col-md-4.col-md-offset-1
        %h2 Upcoming events
        - if @upcoming_events.empty?
          %p Currently there are no upcoming events
        - else
          - @upcoming_events.each do |event|
            .update
              = link_to event.title, event_path(event)
              %p.date= event_date(event)

      .col-md-3
        %h2 Recent blog posts
        - @recent_blogs.each do |blog|
          .update
            = link_to blog.title, blog_path(blog)
            %p.date= "published on: #{blog.created_at.strftime('%d-%m-%Y')}"

      .col-md-3
        %h2 Recent podcasts
        - @recent_podcasts.each do |podcast|
          .update
            = link_to podcast.title, podcast_path(podcast.guid)
            %p.date= "published on: #{podcast.pubDate.strftime('%d-%m-%Y')}"
