.container.podcasts
  .row
    .col-md-10.col-md-offset-1.title
      %h1 Podcasts

  .row
    .col-md-6.col-md-offset-1.text
      - @recent_podcasts.each do |podcast|
        .podcast
          %h3= link_to podcast.title, podcast_path(podcast.slug)
          %p.date= "published on: #{podcast.date.strftime('%d-%m-%Y')} / duration: #{podcast.duration}"
          %p= podcast.truncated_description

    .col-md-4.block
      %h4 iTunes
      %p All our podcasts are published to iTunes. If you like to, you can subscribe to the feed.
      =link_to 'Subscribe to iTunes', 'http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=335170002&subMediaType=Audio'
      %h4 RSS feed
      %p As an alternative to iTunes we offer you a RSS feed via Feedburner.
      =link_to 'Subscribe to RSS feed', 'http://feeds.feedburner.com/DevnologyPodcast'
      %h4 Interested in sponsoring?
      %p We are looking for a new sponsor that will help us produce new podcast episodes. If you are interested in contributing to the software developer community and want to reach out to developers worldwide, contact us to discuss possibilities.
      =link_to 'Send us an e-mail at podcast@devnology.nl', 'mailto:podcast@devnology.nl'

  .row
    .col-md-10.col-md-offset-1
      %h2 Archive
      - @old_podcasts.each do |podcast|
        %h4= link_to podcast.title, podcast_path(podcast.slug)
